
#cover-v{
	width: calc(100% - 40px);
	height: 100vh;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: #FFFFFF;
    margin: 0 auto;
    text-shadow: 0px 0px 8px rgba(0%, 0%, 0%, 0.8);
}

body{
	background-repeat: no-repeat;
	background-position: center;
    background-size: 100% auto;
    color: #000000;
}

.mt-0{
    margin-top: 0;
}

.yellow{
    color: #FFE400;
}

.orange{
    color: #E95513;
}

.brown{
    color: #9E760D;
}

.white{
    color: #FFFFFF;
}

.blue{
    color: #003DA6;
}

#fixed-back{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	z-index: -2;
	transition: filter 1s ease;
	background: transparent;
}
 
  .fullpage-wrapper {
	width: 100%!important; 
	transform: none!important;  
} 

 .fp-section {
	width: 100%!important; 
	position: absolute; 
	left: 0;
	top: 0; 
	visibility: hidden;   
	opacity: 0;
	z-index: 0;  
} 

.fp-section.active {
	visibility: visible;  
	opacity: 1;
    z-index: 1; 
}  


.box-container h2{
	margin-top: 0;
}

video, canvas{
    width: 100%;
}

video{
    object-fit: contain;
}

.full{
    height: 100vh;
}

.popup{
    transition: all 0.7s ease;
    transform: translate(0, 100px);
}

.flex-layout{
    display: flex;
    align-items: center;
    justify-content: center;
}

.back{
    width: 100%;
    height: 100vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.7s ease;    
}

.yellow-bar-back{
    background-color: #FFB81F;
}

#indicator-bar.yellow-bar-back{
    background-color: #FFB81F;
}

.light-blue-back{
    background: #5bc2dc;
    height: 0;
}

.gray-back{
    background: rgba(0, 0, 0, 0.8);
} 

.yellow-back{
    background-color: #FFCE00;
    height: 0;
}

.yellow-back-2{
    background-color: #FFCE00;
}

#head.yellow-back-2{
    background-color: #FFCE00;
}

.menu-blue-back{
    background-color: #51A7E3;
}

#head.menu-blue-back{
    background-color: #51A7E3;
}

.orange-back{
    background-color: #EA833D;
    height: 0;
}

.orange-back-2{
    background-color: #EA833D;
}

.orange-back-3{
    background-color: #E95513;
}

.grass-back{
    background-color: #D9DB2C;
    height: 0;
}

.blue-back{
    background-color: #0055B8;
}

#indicator-bar.blue-back{
    background-color: #0075C9;
}

#indicator-bar.orange-back-3{
    background-color: #E95513;
}

#head.orange-back-3{
    background-color: #EA7526;
}

#pannel.orange-back-3{
    background-color: #EA7526;
}

.brown-back{
    background-color: #9E760D;
}

.box-container{
    background-color: #FFFFFF;
    width: calc(100% - 70px);
    padding: 40px 40px;
    margin: 0 auto;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.7s ease;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.box-container-c{
    background-color: #FFFFFF;
    width: calc(100% - 70px);
    padding: 40px 40px;
    margin: 0 auto;
    opacity: 0;
    transform: translate(0, 50px);
    transition: all 0.7s ease;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.quote-contain{
    color: #6A3906;
    border-top-color: #6A3906;
    border-bottom-color: #6A3906;
}

#editor{
    color: #000000;
    padding: 0;
    border-bottom: none;
}

#video-state-contain{
    position: fixed;
    bottom: 50px;
    left: 50%;
    margin-left: -25px;
    z-index: 9999;
    width: 50px;
    height: 50px;
}

#video-state{
    width: 50px;
    height: 50px; 
    opacity: 0;
    transition: opacity 0.7s ease;
}

#video-state-contain .fa-repeat{
    position: absolute;
    top: 11px;
    left: 13px;
    transform: rotate(80deg);
    font-size: 27px;
    opacity: 0;
    color: #FFFFFF;
    transition: opacity 0.7s ease;
}

.ab-center{
    position: absolute;
    top: 0;
    left: 0;
}

#nav-icon{
  width: 25px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

#nav-icon span{
  display: block;
  position: absolute;
  height: 1px;
  width: calc(100% - 10px);
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 2px;
  opacity: 1;
  left: 0%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 8px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 12px;
}

#nav-icon span:nth-child(4) {
  top: 16px;
}

#nav-icon.open span:nth-child(1) {
  top: 12px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

#head{
    transition: all 0.7s ease;
    opacity: 0;
    z-index: 10000;
}

#head.open{
    opacity: 1;
}

.card{
    flex: 1 1 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gym-back{
    background-image: url('../assets/card1.png')
}

.fencing-back{
    background-image: url('../assets/card2.png')
}

.logo-contain{
    margin: 0 auto;
}

.card-title{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: -0.4px;
    text-align: justify;
    color: #ffffff;
    text-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 10%;
    left: 20px;
}

#indicator {
    opacity: 1;
    background-color: transparent;
}

#indicator-bar{
    transition: width 0.7s ease;
}

#pannel{
    width: 100%;
    height: calc(100vh - 46px); 
    transition: transform 0.7s ease;
    transform: translate(0, -100%); 
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9999;
}

#comment-pannel{
    width: 80%;
    height: 100vh;
    background-color: #FFFFFF;
    overflow-y: scroll;
    position: fixed;
    z-index: 99999999999;
    top: 0;
    right: 0;
    transition: transform 0.7s ease;
    transform: translate(100%, 0); 
}

#comment-pannel.open{
    transform: translate(0, 0);
}

#comment-pannel .fa{
    font-size: 25px;
    margin-left: 10px;
    margin-top: 5px;
}

#pannel .udn-logo{
    width: 110px;
}

#pannel .nmd-logo{
    width: 110px;
}

#pannel.open{
    transform: translate(0, 46px);
} 

#relate-contain{
    margin-top: 32px;
    text-align: left;
}

#relate-contain .row{
    margin: 0;
}

#relate-contain p{
    font-size: 16px;
    line-height: 24px;
}

.pl-0{
    padding-left: 0;
    padding-right: 10px;
}

.pr-0{
    padding-left: 10px;
    padding-right: 0;
}

.squre{
    width: 25px;
    height: 25px;
    position: fixed;
    z-index: 10000;
    border-radius: 3px;
    
}

#hbutton{
    top: 12px;
    right: 20px;
    padding: 0 5px;    
    opacity: 0.7;
}
#msg{
    right: 20px;
    top: 47px;
    opacity: 0.7;
    transition: opacity 0.7s ease;
    z-index: 9998;
}

.close{
    text-shadow: none;
}

#msg.close{
    opacity: 0;
}

.fa-comment{
    font-size: 25px;
}

 #bm{
    height: 120px;
}

#bm-2{
    height: 120px;
}

@keyframes btnmove{
	0% {
	    transform: translate3d(0, 0, 0);
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	}
	15% {
	    transform: translate3d(0, 4px, 0);
	    -webkit-transform: translate3d(0, 4px, 0);
	    -moz-transform: translate3d(0, 4px, 0);
	    -ms-transform: translate3d(0, 4px, 0);
	}
	30% {
	    transform: translate3d(0, 0, 0);
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	}
	100% {
	    transform: translate3d(0, 0, 0);
	    -webkit-transform: translate3d(0, 0, 0);
	    -moz-transform: translate3d(0, 0, 0);
	    -ms-transform: translate3d(0, 0, 0);
	}
}

.progress{
    height: 4px;
}

.progress-bar{
    height: 4px;
    width: 0;
    background-color: #FFE400;
}

#fencing .progress-bar{
    background-color: #0075C9;
}

#page-down{
    position: fixed;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    z-index: 10000;
    display: flex;
    right: 20px;
    bottom: 53px;
    opacity: 0.7;
    transition: opacity 0.7s ease;
    padding: 1px;
    z-index: 9998;
}

#page-down .fa{
    margin: 0 auto;
    line-height: 30px;
    font-size: 30px;
    color: #FFFFFF;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

#cover-v hr{
    height: 2px;
    margin: 0 auto;
    width: 1px;
    background: rgba(255, 255, 255, 0.6);
    transition: width 0.7s ease;
    transition-delay: 0.3s;
}

#cover-v h1{
    padding: 0;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translate(0, 50px);
}

#cover-subtitle{
    font-size: 40px;
    margin-top: -6px; 
    line-height: 1;
    transition: all 0.7s ease;
    opacity: 0;
    transform: translate(0, 50px);
}

.image-contain{
    margin: 16px 0;
}

#fencing #cover-subtitle{
    text-shadow: none;
    font-weight: bold;
}

#fencing h1{
    font-weight: normal;
}

@media screen and (max-width: 768px){
    #taekwondo{
        background-image: url('../assets/bg.jpg');
    }
    #gymnastics{
        background-image: url('../assets/gym-bg.png');
    }
    #fencing{
        background-image: url('../assets/fencing-bg.jpg');
    }
    .box-container img{
        margin-top: 16px;
    }
    #fencing .box-container img{
        margin-bottom: 16px;
    }
    
    h2{
        margin-top: 32px;
        margin-bottom: 16px;
    }
    p{
        line-height: 27px;
    }
    .f-video-contain{
        margin-bottom: 16px;
    }
    .f-video-contain .img-say{
        padding-left: 20px;
    }
    #cover-title{
        font-size: 26px;
        transition: all 0.7s ease;
        opacity: 0;
        transform: translate(0, 50px);
    }
    #cover-box{
	    flex-grow: 4; 
    }
    #cover-box-2{
        flex-grow: 1;
    }

    .share-block{
        margin-top: 32px;
    }

    .logo-block{
        margin-left: 0px;
    }

    .mobile-mt-32{
        margin-top: 32px;
    }
    .mt-s{
        margin-top: -64px;
    }
    .v-center-m{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 350px){
    h2{
        font-size: 23px;
    }
    p{
        font-size: 16px;
        line-height: 24px;
    }
    p>br{
        line-height: 24px;
    }
    .img-say{
        font-size: 13px;
    }
    .box-container {
        width: calc(100% - 60px);
        padding: 30px 30px;
    }
}

@media screen and (min-width: 961px) and (max-width: 1280px){

    #taekwondo{
		background-image: url('../assets/bg-web.png');
		background-size: auto 100%;
    }
    #gymnastics{
        background-image: url('../assets/gym-bg-web.png');
        background-size: auto 100%;
    }
    #fencing{
        background-image: url('../assets/fencing-bg-web.jpg');
        background-size: auto 100%;
    }
    #cover-box{
	    flex-grow: 4; 
    }
    #cover-box-2{
        flex-grow: 1;
    }

    #cover-v{
        width: 956px;
    }

    #cover-v h1{
        font-size: 70px;
        display: inline-block;
		letter-spacing: -1.4px;
		margin-top: 1px;
    }

    #cover-subtitle{
        font-size: 70px;
        display: inline-block;
        letter-spacing: -1.4px;
    }

    #cover-v hr{
        background: rgba(255, 255, 255, 1);
    }

    #cover-title{
        font-size: 25px;
        padding-bottom: 16px;
	}
	
	.container{
		width: 800px;
	}
	.box-container{
		width: 800px;
	}
	p{
		font-size: 18px;
	}
	.f-video-contain{
		width: 600px;
    	margin: 0 auto;
    	margin-bottom: 32px;
	}

	#msg{
        top: 8px;
        z-index: 10001;
    }
    #msg.close{
        opacity: 0.7;
    }
	.fa-comment {
    	font-size: 30px;
	}
	.share-block{
		margin-top: 50px;
		height: auto;
	}
	.line-block{
		float: none;
	}
	.logo-block{
		float: none;
		margin-top: 10px;
	}
	#taekwondo #section-4 .container, #taekwondo #section-5 .container, #taekwondo #section-6 .container, #taekwondo #section-9 .container, #taekwondo #section-11 .container, #taekwondo #section-12 .container, #taekwondo #section-14 .container, #taekwondo #section-16 .container{
		width: 600px;
    }
    #fencing #section-6 .container, #fencing #section-7 .container, #fencing #section-9 .container, #fencing #section-11 .container, #fencing #section-12 .container, #fencing #section-14 .container{
		width: 600px;
	}
	.fl{
		float: left;
		width: 263px;
	}
	.fr{
		float: right;
		width: 420px;
	}
	.as{
		position: absolute;
		bottom: 40px;
    }
    h2{
        margin-top: 0;
    }
    .v-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hbutton{
        display: none;
    }
    #head{
        opacity: 1;
    }
    #head:hover{
        height: 170px;
    }
    #head:hover .banner-contain{
        top: 16px;
    }
    #head:hover .banner-contain img{
        height: 111px;
    }
    #comment-pannel{
        width: 40%;
    }
    .banner-contain{
        height: 50px;
        position: absolute;
        top: -24px;
        right: 70px;
        transition: all 0.7s ease;
    }
    .banner-contain img{
        height: 0;
        transition: all 0.7s ease;
    }
    .banner{
        width: 156px;
        float: left;
        margin-left: 25px;
    }
    .banner-text{
        font-size: 17px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: -0.3px;
        text-align: left;
        color: #57543d;
        margin-top: 9px;
    }
    #relate-contain p{
        margin-top: 5px;
    }
    #relate-contain p>br{
        line-height: 24px;
    }
    .box-container-c{
        width: 800px;
    }
    .ab-center{
        width: 800px;
        left: 50%;
        margin-left: -400px;
    }
    #gymnastics h1, #gymnastics #cover-subtitle{
        font-size: 60px;
    }
    #gymnastics .fl{
        width: 375px;
    }
    #gymnastics .fr{
        width: 361px;
    }
    .fl-s{
        float: left;
        width: 400px;
        padding-top: 15px;
    }
    .fr-s{
        float: right;
        width: 400px;
        padding-top: 15px;
    }
    .fb-comment-block.container{
        width: 100%;
    }
}

@media screen and (min-width: 1281px){

    #taekwondo{
        background-image: url('../assets/bg-web.png');
        /* background-size: 100% 100%; */
    }
    #gymnastics{
        background-image: url('../assets/gym-bg-web.png');
        /* background-size: auto 100%; */
    }
    #fencing{
        background-image: url('../assets/fencing-bg-web.jpg');
        /* background-size: auto 100%; */
    }
    #cover-box{
	    flex-grow: 4; 
    }
    #cover-box-2{
        flex-grow: 1;
    }

    #cover-v{
        width: 956px;
    }

    #cover-v h1{
        font-size: 70px;
        display: inline-block;
		letter-spacing: -1.4px;
		margin-top: 1px;
    }

    #cover-subtitle{
        font-size: 70px;
        display: inline-block;
        letter-spacing: -1.4px;
    }

    #cover-v hr{
        background: rgba(255, 255, 255, 1);
    }

    #cover-title{
        font-size: 25px;
        padding-bottom: 16px;
	}
	
	.container{
		width: 800px;
	}
	.box-container{
		width: 800px;
	}
	p{
		font-size: 18px;
	}
	.f-video-contain{
		width: 600px;
    	margin: 0 auto;
    	margin-bottom: 32px;
	}

	#msg{
        top: 8px;
        z-index: 10001;
    }
    #msg.close{
        opacity: 0.7;
    }
	.fa-comment {
    	font-size: 30px;
	}
	.share-block{
		margin-top: 50px;
		height: auto;
	}
	.line-block{
		float: none;
	}
	.logo-block{
		float: none;
		margin-top: 10px;
	}
	#taekwondo #section-4 .container, #taekwondo #section-5 .container, #taekwondo #section-6 .container, #taekwondo #section-9 .container, #taekwondo #section-11 .container, #taekwondo #section-12 .container, #taekwondo #section-14 .container, #taekwondo #section-16 .container{
		width: 600px;
    }
    #fencing #section-6 .container, #fencing #section-7 .container, #fencing #section-9 .container, #fencing #section-11 .container, #fencing #section-12 .container, #fencing #section-14 .container{
		width: 600px;
	}
	.fl{
		float: left;
		width: 263px;
	}
	.fr{
		float: right;
		width: 420px;
	}
	.as{
		position: absolute;
		bottom: 40px;
    }
    h2{
        margin-top: 0;
    }
    .v-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #hbutton{
        display: none;
    }
    #head{
        opacity: 1;
    }
    #head:hover{
        height: 170px;
    }
    #head:hover .banner-contain{
        top: 16px;
    }
    #head:hover .banner-contain img{
        height: 111px;
    }
    #comment-pannel{
        width: 40%;
    }
    .banner-contain{
        height: 50px;
        position: absolute;
        top: -24px;
        right: 70px;
        transition: all 0.7s ease;
    }
    .banner-contain img{
        height: 0;
        transition: all 0.7s ease;
    }
    .banner{
        width: 156px;
        float: left;
        margin-left: 25px;
    }
    .banner-text{
        font-size: 17px;
        font-weight: bold;
        line-height: 2;
        letter-spacing: -0.3px;
        text-align: left;
        color: #57543d;
        margin-top: 9px;
    }
    #relate-contain p{
        margin-top: 5px;
    }
    #relate-contain p>br{
        line-height: 24px;
    }
    .box-container-c{
        width: 800px;
    }
    .ab-center{
        width: 800px;
        left: 50%;
        margin-left: -400px;
    }
    #gymnastics h1, #gymnastics #cover-subtitle{
        font-size: 60px;
    }
    #gymnastics .fl{
        width: 375px;
    }
    #gymnastics .fr{
        width: 361px;
    }
    .fl-s{
        float: left;
        width: 400px;
        padding-top: 15px;
    }
    .fr-s{
        float: right;
        width: 400px;
        padding-top: 15px;
    }
    .fb-comment-block.container{
        width: 100%;
    }
}